<!-- templates/registration/register.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="row justify-content-center" style="margin-top: 150px;">
  <div class="col-lg-4 col-md-6">
    <div class="card align-self-center border-1 shadow rounded-3 my-5">
      <div class="card-body p-4 p-sm-5 text-center">
        <h2>Registro</h2>
        <hr>
        
        {% if form.errors %}
          {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong>{{ field.label }} </strong><span>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
          {% endfor %}
        {% endif %}
        
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" name="username" id="id_username" placeholder="Nombre de Usuario" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" name="password1" id="id_password1" placeholder="Contraseña" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Confirmar Contraseña:</label>
            <input type="password" name="password2" id="id_password2" placeholder="Confirmar Contraseña" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="id_email" placeholder="Correo electronico" class="form-control" required>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-lg">Registrar</button>
        </form>
      </div>
    </div>    
  </div>
</div>

{% endblock %}