{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- main -->
<main id="main" class="mt-5">

<!-- ======= Latest Properties Section ======= -->
<section class="section-property section-t8">
  <div class="row">
    <div class="col-md-12">
      <div class="title-wrap d-flex justify-content-between">
        <div class="title-box">
          <h2 class="title-a">Alquileres destacados</h2>
        </div>
        <div class="title-link">
          <a href="property-grid.html">Todos
            <span class="bi bi-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    
    {% if propertys %}    
    
    {% for property in propertys %}
    <div class="col-md-3 mb-3">
      <div class="card-box-a card-shadow">
        <div class="img-box-a">
          <img src="/media/{{ property.image}}" alt="" class="img-a img-fluid">
        </div>
        <div class="card-overlay">
          <div class="card-overlay-a-content">
            <div class="card-header-a">
              <h2 class="card-title-a">
                <a href="property-single.html">{{property.name}}
                  <br> <h5 style="color: white;">{{property.address}}</h5></a>
              </h2>
            </div>
            <div class="card-body-a">
              <div class="price-box d-flex">
                <span class="price-a">Alquiler | Bs. {{property.price}}</span>
              </div>
              <a href="{% url 'property_detail' property.id %}" class="link-a">Más información
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
            <div class="card-footer-a">
              <ul class="card-info d-flex justify-content-around">
                <li>
                  <h4 class="card-info-title">Area</h4>
                  <span>{{ property.scuare_meters }}
                    <sup>2</sup>
                  </span>
                </li>
                <li>
                  <h4 class="card-info-title">Cuartos</h4>
                  <span>{{ property.rooms }}</span>
                </li>
                <li>
                  <h4 class="card-info-title">Baños</h4>
                  <span>{{ property.bathrooms }}</span>
                </li>
                <li>
                  <h4 class="card-info-title">Garajes</h4>
                  <span>{{ property.garage }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% endif %}

  </div>
</section><!-- End Latest Properties Section -->

<!-- ======= Services Section ======= -->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Nuestros servicios</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-house"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Casas</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
              convallis a pellentesque
              nec, egestas non nisi.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">Read more
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-shop"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Tiendas</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Mauris blandit
              aliquet elit, eget tincidunt
              nibh pulvinar a.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">Read more
              <span class="bi bi-calendar4-week"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-hospital"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Departamentos</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
              convallis a pellentesque
              nec, egestas non nisi.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="#" class="link-c link-icon">Read more
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->

</main>
<!-- End #main -->
{% endblock %}